{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
     
.pay{
    background-color: #002F5B !important;
    
}
    </style>
</head>
<div class="container-fluid py-4">
      
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Payment</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Payment Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Description</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">53425728</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">N2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">Repairs</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold">Apartment repairs on 224</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">53425728</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">N2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">Repairs</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold">Apartment repairs on 224</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">53425728</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">N2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">Repairs</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold">Apartment repairs on 224</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">53425728</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">N2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">Repairs</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold">Apartment repairs on 224</span>
                      </td>
                      <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}