{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
     
.man{
    background-color: #002F5B !important;
    
}
.mb-3 {
  margin-bottom: .5rem !important; /* or any other value you prefer */
}
/* reduce height of select and input fields */
.form-select,
.form-control {
  height: 13px;
  
  font-size: 14px;
}




    </style>
    
    
    
</head>
<div class="container-fluid">
         <div class="row">
             <div class="col-12">
                 <div class="d-flex justify-content-center"">
                  <!-- Button to trigger modal -->
                  
                    
                     <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#create-manager-modal">Add New Manager</button>
                     

<!-- Modal -->
<div class="modal fade" id="create-manager-modal" tabindex="-1" aria-labelledby="create-manager-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-manager-modal-label">Create Manager Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="my-form">
        <div id="error-message-form"></div>

        <div id="stripe-errors">
        </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="firstname" placeholder="First Name " required>
            <label for="name"></label>
          </div>
          <div class=" mb-3">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name"  required>
            <label for="name"></label>
          </div>
          <div class="mb-3">
  <label for="phone" class="form-label"></label>
 
    <input type="tel" class="form-control" id="phone" placeholder="Phone Number" required>
</div>
          <div class="form-floating mb-3">
            <label for="gender" class="form-label"></label>
            <select class="form-select" id="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-floating mb-3">
            <label for="marital-status" class="form-label"></label>
            <select class="form-select" id="marital-status">
              
              <option value="Single">Single</option>
              <option value="Married">Married</option>
            </select>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" required>
            <label for="email"></label>
          </div>
          <div class="mb-3">
            <label for="state" class="form-label"></label>
            <input type="text" class="form-control" id="state" placeholder="State of Origin">
          </div>
          
         <div class="form-floating mb-3">
  <div>
  <label for="property" class="form-label">Properties</label>
  </div>
  <select class="form-select " id="property" multiple>
    <option value="" disabled>Select property</option>
  </select>
</div>



               <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div> 
      <div class="alert alert-danger" role="alert" id="error-message" style="display: none;"></div> <!-- Add this line -->
      <div class="alert alert-danger" role="alert" id="error-message-modal" style="display: none;"></div>
        </form>
      </div>

    </div>
  </div>
</div>


                 </div>
                 
             </div>
             
         </div>
         
     </div>
    







    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Managers</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Property</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Joined</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    {% for manager in man_list %}
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                              {% if manager.photo %}
                            <img src="{{ manager.photo.url }}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                            {% else %}
                            <img src="" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                            {% endif %}
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ manager.first_name }}</h6>
                            <p class="text-xs text-secondary mb-0">{{ manager.user }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ manager.property.first }}</p>
                        <!-- <p class="text-xs text-secondary mb-0">Properties</p> -->
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if manager.account_status %}
                        <span class="badge badge-sm bg-gradient-success">Active</span>
                        {% else %}
                        <span class="badge badge-sm bg-gradient-danger">Deactivated</span>
                        {% endif %}
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ manager.user.date_joined }}</span>
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'manager-detail' id=manager.user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          View Manager
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    
                    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Projects table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Completion</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/logo-asana.svg" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Asana</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">working</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">60%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/github.svg" class="avatar avatar-sm rounded-circle me-2" alt="invision">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Github</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$5,000</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">done</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">100%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/logo-atlassian.svg" class="avatar avatar-sm rounded-circle me-2" alt="jira">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Atlassian</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$3,400</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">canceled</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">30%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30" style="width: 30%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/bootstrap.svg" class="avatar avatar-sm rounded-circle me-2" alt="webdev">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Bootstrap</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$14,000</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">working</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">80%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm rounded-circle me-2" alt="slack">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Slack</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$1,000</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">canceled</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">0%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/devto.svg" class="avatar avatar-sm rounded-circle me-2" alt="xd">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Devto</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$2,300</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">done</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">100%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
      </div> 
     
<script>
function val(){
console.log("error")
alert("error");
}

  // Get the select element
  const selectProperty = document.getElementById("property");

  // Fetch properties from the API
  fetch("https://mperial.techevery.ng/api/property/no-manager")
    .then(response => response.json())
    .then(data => {
      // Loop through properties and add options to select element
      data.forEach(property => {
        const option = document.createElement("option");
        option.value = property.id;
        option.textContent = property.property_name;
        selectProperty.appendChild(option);
      });
    })
    .catch(error => console.error(error));
    
  

  const form = document.getElementById('my-form');
  const errorMessage = document.getElementById('error-message');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const email = document.getElementById('email').value;
    const firstName = document.getElementById('firstname').value;
    const lastName = document.getElementById('lastname').value;
    const phoneNumber = document.getElementById('phone').value;
    const gender = document.getElementById('gender').value;
    const maritalStatus = document.getElementById('marital-status').value;
    const stateOfOrigin = document.getElementById('state').value;
    const propertySelect = document.getElementById('property');
    const selectedOptions = [...propertySelect.options].filter(option => option.selected);
    const property = selectedOptions.map(option => ({ id: option.value, property_name: option.text }));
    const data = {
      email,
      first_name: firstName,
      last_name: lastName,
      phone_number: phoneNumber,
      gender,
      marital_status: maritalStatus,
      state_of_origin: stateOfOrigin,
      property,
    };
    data.property = data.property.map(p => p.id);

    try {
      const response = await fetch('https://mperial.techevery.ng/accounts/manager_register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      const result = await response.json();
      console.log(result);
      alert(result.message)
       
      errorMessage.innerText = result.message;
      errorMessage.style.display = 'block';
    } catch (error) {
      console.error("failed");
       alert("Error");
      
      errorMessage.innerText = error.message;
      errorMessage.style.display = 'block';
    }
  });
  


function validateForm() {
  var phoneInput = document.getElementById("phone");
  var phoneValue = phoneInput.value.trim();

  if (!phoneValue.startsWith("+234") || !/^\d{10}$/.test(phoneValue.slice(4))) {
    alert("Please enter a valid Nigerian phone number starting with '+234' and followed by 10 digits.");
    return false;  // Prevent form submission
  }

  return true;  // Allow form submission
}

document.getElementById("my-form").onsubmit = validateForm;


</script>

<span id="error-message" style="display:none;"></span>


{% endblock content %}
